.eat-edit-dialog {
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    .labeled-input {
      position: relative;
      width: 100%;


      input {
        padding: 0.5rem;
        width: 100%;
        border: 1px solid black;
        border-radius: 4px;
        background-color: transparent;
      }

      input:disabled,
      input:disabled~label {
        background-color: lightgray;
        cursor: not-allowed;
      }

      label {
        position: absolute;
        top: 0rem;
        left: 0.5rem;
        cursor: text;
        user-select: none;
        transition: transform 0.3s ease-in;
        background-color: white;
        margin: 0.5rem 0;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        transform-origin: top left;
      }

      input:focus~label,
      input:not(:placeholder-shown)~label {
        transform: translateY(-1rem) scale(0.8);
      }



    }
  }
}