@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix hover beavior on touchscreen laptops */
@custom-variant hover (&:hover);

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(64, 64, 64, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Google Maps styling */
.pac-item {
  padding: 0.5rem 1rem;
}

.pac-icon {
  display: none;
}

.pac-matched {
  font-size: 1rem;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-gutter: stable;

  /* The CJK System Font Stack */
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", Meiryo, "Apple SD Gothic Neo", "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  font-variant-east-asian: simplified;

  color: var(--color-foreground);
  background-color: var(--color-background);
}
