.artworks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  grid-template-rows: masonry;
}

.artwork-container {
  padding: 0.5rem;
  position: relative;
  max-height: 80vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-height: 100%;
    width: auto;
    object-fit: cover;
  }

  .artwork-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .artwork-info {
      padding: 0.5rem;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
    }
  }
}

.artwork-container:hover,
.artwork-container:focus {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  // .artwork-overlay {
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   padding: 0.5rem;
  //   background-color: rgba(0, 0, 0, 0.5);
  //   color: white;
  // }
}

@media (max-width: 768px) {
  .artworks {
    grid-template-columns: repeat(1, 1fr);
  }
}
