.labeled-input {
  position: relative;
  width: 100%;

  input,
  textarea {
    padding: 0.5rem;
    width: 100%;
    border: 2px solid #999;
    border-radius: 6px;
    background-color: transparent;
    color: var(--color-foreground);
    background-color: var(--color-background);
  }

  textarea {
    min-height: 4rem;
  }

  input:disabled,
  input:disabled ~ label,
  textarea:disabled,
  textarea:disabled ~ label {
    color: var(--color-foreground);
    border-color: var(--color-foreground);
    cursor: not-allowed;
  }

  label {
    position: absolute;
    top: 0rem;
    left: 0.5rem;
    cursor: text;
    user-select: none;
    transition: transform 0.2s ease-in;
    background-color: var(--color-background);
    margin: 0.5rem 0;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    transform-origin: top left;
    pointer-events: none;
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label,
  textarea:focus ~ label,
  textarea:not(:placeholder-shown) ~ label {
    transform: translateY(-1rem) scale(0.8);
  }
}
