#homepage_title {
  display: flex;
  text-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 12vw;
  max-width: 100vw;
  overflow: hidden;
  background: url("/shanghai.jpg") no-repeat center/cover fixed;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: scale 3s ease-in-out forwards;
  background-attachment: fixed;
}



@keyframes scale {
  from {
    font-size: 250vw;
    background-position: center;

  }

  to {
    font-size: 12vw;
    color: white;
  }
}

#homepage_subtitle {
  animation: fade-in 3s ease-in-out forwards;
  animation-delay: 3s;
  opacity: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.homepage-container {
  overflow-x: hidden;
  // scroll-snap-type: both proximity;
}

.homepage-panel {
  // scroll-snap-align: start;
  // scroll-snap-stop: always;
  min-height: 100vh;
}

@property --background-direction {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

#houdini {
  background-color: white;
  background-image: linear-gradient(black, #111);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;

  .card {
    background-image: linear-gradient(var(--background-direction),
        #5ddcff,
        #3c67e3 43%,
        #4e00c2);
    animation: rotate 2s linear infinite;
    padding: 0.5em;
    border-radius: 1em;

    .content {
      border-radius: 0.75em;
      background-color: black;
      color: white;
    }
  }

  @keyframes rotate {
    to {
      --background-direction: 360deg;
    }
  }
}