#homepage_title {
  display: flex;
  text-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 12vw;
  background: url("/public/shanghai.jpg") no-repeat center/cover fixed;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: scale 3s forwards;
  background-attachment: fixed;
}

@keyframes scale {
  from {
    font-size: 500vw;
    background-position: center;
  }
  to {
    font-size: 12vw;
    color: white;
  }
}
