#homepage_title {
  display: flex;
  text-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 12vw;
  max-width: 100vw;
  overflow: hidden;
  background: url("/public/shanghai.jpg") no-repeat center/cover fixed;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: scale 3s ease-in-out forwards;
  background-attachment: fixed;
}

@keyframes scale {
  from {
    font-size: 250vw;
    background-position: center;
  }
  to {
    font-size: 12vw;
    color: white;
  }
}

.homepage-container {
  overflow-x: hidden;
  scroll-snap-type: both proximity;
}

.homepage-panel {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
