#homepage_title {
  display: flex;
  text-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 12vw;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  background: url("/shanghai.webp") no-repeat center/cover fixed;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: scale 3s ease-in-out forwards;
  background-attachment: fixed;
}

@keyframes scale {
  from {
    font-size: 250vw;
    background-position: center;
  }

  to {
    font-size: 12vw;
    color: white;
  }
}

#homepage_subtitle {
  animation: fade-in 3s ease-in-out forwards;
  animation-delay: 3s;
  opacity: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.homepage-container {
  overflow-x: hidden;
  // scroll-snap-type: both proximity;
}

.homepage-panel {
  // scroll-snap-align: start;
  // scroll-snap-stop: always;
  min-height: 100vh;
}

.homepage-panel:nth-child(1) {
  background: url("/seattle.jpg") no-repeat center/cover fixed;
  animation: background-fade-in 6s ease-in-out forwards;
}

@keyframes background-fade-in {
  from {
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 1);
  }

  to {
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.25);
  }
}

@property --background-direction {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

#houdini {
  background-color: white;
  background-image: linear-gradient(black, #111);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;

  .card {
    background-image: linear-gradient(
      var(--background-direction),
      #5ddcff,
      #3c67e3 43%,
      #4e00c2
    );
    animation: rotate 2s linear infinite;
    padding: 0.5em;
    border-radius: 1em;

    .content {
      border-radius: 0.75em;
      background-color: black;
      color: white;
    }
  }

  @keyframes rotate {
    to {
      --background-direction: 360deg;
    }
  }
}

#animatedGrid {
  display: grid;
  padding: 1em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em;
  width: calc(min(50vh, 100vw));
  height: calc(min(50vh, 100vw));
  transition: all 0.5s ease-in-out;

  .card {
    background-color: #5ddcff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
@for $i from 1 through 9 {
  .card:nth-child(#{$i}) {
    animation-delay: $i * 0.1s;
  }
  #animatedGrid:has(.card:nth-child(#{$i}):hover) {
    $row: floor(($i - 1) / 3 +1);
    $col: ($i - 1) % 3 +1;
    $arr: 1fr 1fr 1fr;
    $rows: set-nth($arr, $row, 2fr);
    $cols: set-nth($arr, $col, 2fr);
    grid-template-columns: $cols;
    grid-template-rows: $rows;
    transition: grid-template-columns 0.5s ease-in-out,
      grid-template-rows 0.5s ease-in-out;
  }
}
