form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.preferred-gift-card {
  --card-border: #f59e0b; /* amber-500 */
  --card-bg: #fffbeb; /* amber-50 */

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border: 2px solid var(--card-border);
  background-color: var(--card-bg);
  border-radius: 0.5rem;
  transition: all 500ms ease-in-out;
}

.avoid-gift-card {
  --card-border: #78716c; /* stone-500 */
  --card-bg: #fafaf9; /* stone-50 */

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border: 2px solid var(--card-border);
  background-color: var(--card-bg);
  border-radius: 0.5rem;
  transition: all 500ms ease-in-out;
}

.dark {
  .preferred-gift-card,
  .avoid-gift-card {
    --card-bg: transparent;
  }
}
