#loading {
  border: 8px solid #f3f3f3;
  /* Light grey */
  border-top: 8px solid #ff9d00;
  /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}