.tab {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  &:hover {
    background-color: var(--color-brand-secondary);
    color: var(--color-brand-secondary-text);
  }
  &.active {
    background-color: var(--color-brand-primary);
    color: white;
  }
}
