.tablist {
  width: 100%;
  display: flex;
  gap: 8px;
  box-shadow: inset 0 -4px 0 0 var(--color-brand-soft);
  overflow-x: auto;
}

.tab {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  border: 2px solid var(--color-brand-soft);
  border-bottom: none;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  white-space: nowrap;
  &:hover {
    background-color: var(--color-brand-secondary);
    color: var(--color-brand-secondary-text);
  }
  &.active {
    background-color: var(--color-brand-primary);
    color: var(--color-background);
    border-color: var(--color-brand-primary);
  }
}
