@import "tailwindcss";

/* Fix hover beavior on touchscreen laptops */
@custom-variant hover (&:hover);

@theme {
  /* Your custom Orange "Brand" colors */
  --color-brand-light: #fff7ed;
  --color-brand-soft: #ffedd5;
  --color-brand-primary: #fb923c;
  --color-brand-vibrant: #f97316;

  /* Your Surface colors */
  --color-surface: #faf9f6;
  --color-surface-card: #ffffff;
}

@layer base {
  .dark {
    --color-brand-light: #2d1a05;
    --color-brand-soft: #43280b;
    --color-surface: #121212;
    --color-surface-card: #1e1e1e;
  }
}
